@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Ssuag</h1>
    <div id="canvas">

    </div>
    <button type="button" class="btn btn-outline-secondary">View Memes</button>
</div>

@section  Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js"></script>
    <script src="~/js/cube_animation.js"></script>
}