@model PaginatedList<Post>

@{
    ViewData["Title"] = "Post Index Page";
}



@foreach (var item in Model)
{
    var photoPath = "~/img/uploads/" + item.PhotoPath;
    
    <img class="card-img-top" src=@photoPath asp-append-version="true" />
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

